* {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
:root {
  --main-color: #243aff;
  --background-color: #000211;
  --Dark-color: #000000;
  --Dark2-color: #121631;

  --wight-color: #ffffff;

  --main-color-hover: #2495ffdb;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color);
  position: relative;
}

section,
.section {
  max-width: 816px;
  margin: 0px auto;
  /* min-height: 890px; */
  position: relative;
  margin-top: 50px;
  background-color: var(--wight-color);
  /* padding-bottom: 100px; */
}
/* .font-small-section {
  font-size: 14px;
} */

.contant{
  min-height: 890px;
}
.container {
  width: 80%;
  margin: 0px auto;
}

ul {
  list-style-type: auto !important;
  margin-top: 20px;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  list-style: inside;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
ul ul {
  padding-left: 40px;
  margin: 5px 0;
}

.p-text {
  margin: 5px 0;
}

.img-section {
  width: 80%;
  margin: 10px auto;
  display: block;
  margin-: 15px;
}
.sheld-img {
  width: 300px;
}

/* ======================== First Section ======================== */
.cover-section {
  background-color: var(--Dark-color);
  color: var(--wight-color);
}

.img-cover {
  overflow: hidden;
  height: 380px;
}
.img-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title-company h1 {
  font-size: 40px;
}
.title-company h2 {
  color: var(--main-color);
}

.div-intro-email {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}
.info-section {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  flex-wrap: wrap;
  gap: 10px;
}
.info-section a {
  color: var(--wight-color);
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  left: 50%;
  /* transform: translateX(-50%); */
  background: var(--wight-color);
  color: var(--Dark-color);
  padding: 20px;
  z-index: 5555;
}

/* ======================== Second Section ======================== */
.ul-section-capitalize {
  text-transform: capitalize;
}

ul ul li {
  font-weight: 400;
}

.logo-section {
  width: 100px;
  margin: 20px 0;
}
.logo-section-div {
  position: relative;
  margin-bottom: 8px;
}
.logo-section-div::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 290px;
  height: 10px;
  background-color: var(--main-color);
  bottom: 0;
  
}

/* ======================== analytics-img-div ======================== */
.analytics-img-div {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 30px 0;
}
.img-analytics {
  width: 100%;
}

.column-span-analytics {
  position: absolute;
  color: var(--wight-color);
  font-weight: 600;
}
.column-span-1 {
  top: 57%;
  left: 14%;
}
.column-span-2 {
  top: 57%;
  left: 31%;
}
.column-span-3 {
  top: 57%;
  left: 49%;
}
.column-span-4 {
  top: 57%;
  left: 67%;
}
.column-span-5 {
  top: 66%;
  left: 84%;
}

.column-span-footer {
  position: absolute;
  top: 67%;
  transform: rotate(-56deg);
}
.span-footer-1 {
  top: 70%;
  left: 8%;
}
.span-footer-2 {
  top: 73%;
  left: 23%;
}
.span-footer-3 {
  top: 70%;
  left: 44%;
}
.span-footer-4 {
  top: 71%;
  left: 59%;
}
.span-footer-5 {
  top: 78%;
  left: 67%;
}

.analytics-div-footer {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  /* margin: 50px 0; */
}

.div-analytics {
  display: flex;
  align-items: center;
  gap: 5px;
}
.square {
  width: 15px;
  height: 15px;
  display: block;
}
.square-1 {
  background: #ff0000;
}
.square-2 {
  background: #c10000;
}
.square-3 {
  background: #ffc100;
}
.square-4 {
  background: #002060;
}
.square-5 {
  background: #ff0000;
}

@media print {
  body {
    background-color: #fff;
  }
  #download-button {
    display: none;
  }
}


.download-button{
  padding: 20px;
  background: var(--main-color);
  color: var(--wight-color);
  font-size: 18px;
  width: 100%;
  max-width: 816px;
  margin: auto;
  margin: 50px auto;
  display: block;
  cursor: pointer;
}