.grid-content {
  margin-top: 120px;
}

/* <!-- ============================ Blog Page ============================ --> */

.blog-details-flow {
  position: relative;
  margin-top: -200px;
}

@media (max-width: 1666px) {
  .blog-details-flow {
    position: relative;
    margin-top: -100px;
  }
}

@media (max-width: 500px) {
  .blog-details-flow {
    margin-top: -55px;
  }
}

.check-mark-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.check-mark-ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.check-mark-ul img {
  width: 26px !important;
  filter: invert(62%) sepia(91%) saturate(613%) hue-rotate(1deg) brightness(103%) contrast(104%);
  height: 26px;
}

/* <!-- ============================ Blog Page ============================ --> */

.color-p {
  color: var(--main-color);
}

.code-p {
  padding: 0 5px;
  background: var(--Dark2-color);
  border-radius: 5px;
}

.blog-page h1 {
  /* font-size: 35px; */
  font-size: 1.7rem;
  line-height: 45px;
  margin-bottom: 20px;
  margin: 5px 0;
  margin-bottom: 10px;
  font-weight: 400;
  position: relative;
}

.blog-page h2 {
  font-size: 30px;
}

.blog-page h3 {
  font-size: 25px;
  margin: 5px 0;
}

.blog-page h4 {
  font-size: 20px;
  margin: 5px 0;
}

.a-in-blog {
  border-bottom: 1px solid var(--main-color);
}

.data-category-personHowoPost ul {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 5px 0;
  /* margin-bottom: 10px; */
  /* border-bottom: 1px solid var(--Dark2-color); */
  /* padding-bottom: 15px; */
}

/* <!-- ============================ Default Style Blog ============================ --> */

.a-link {
  font-size: 1rem;
  background: var(--main-color);
  padding: 10px 25px;
  border-radius: 5px;
  width: max-content;
  margin: auto;
  display: flex;
  transition: 0.2s;
  margin: 40px auto;
  color: var(--background-2-color);
  font-weight: 500;
  position: relative;
}

.a-link:hover {
  background-color: var(--main-color-hover);
}

.a-link::after {
  content: "";
  width: 40%;
  height: 5px;
  background-color: var(--wight-color);
  position: absolute;
  top: -3px;
  border-radius: 50px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.blog-details h2,
.blog-details h3,
.blog-details h4,
.blog-details h5,
.blog-details h6 {
  margin: 20px 0 !important;
  padding-bottom: 11px;
  width: fit-content;
  font-size: 30px !important;
  color: var(--wight-color);
}

.blog-details h1 {
  font-size: 35px;
}

.blog-details h2 {
  font-size: 30px;
}

.blog-details h3 {
  font-size: 25px;
  margin: 5px 0;
}

.blog-details h4 {
  font-size: 20px;
  margin: 5px 0;
}

.blog-details ul {
  margin-bottom: 10px;
}

.blog-details ul li {
  font-weight: 300;
  font-size: 1rem;
  border-bottom: 1px solid var(--Dark-color);
  padding-bottom: 9px;
  padding-top: 7px;
  padding-left: 5px;
}

.simple-ul {
  margin: 20px 0;
}

.simple-ul li {
  list-style: inside;
}

.simple-ul li:where(ul > li):not(:where([class~="not-prose"] *))::marker {
  color: var(--main-color);
}

.basic-ul li {
  list-style: decimal inside;
}

.list-blog {
  display: flex;
  gap: 5px;
  color: var(--blog-color-p);
}

blockquote {
  color: var(--blog-color-p);
  border-left: 5px solid var(--main-color);
  height: fit-content;
  padding-left: 10px;
  font-size: 19px;
  color: #8181a1;
}

.list-blog a {
  color: var(--blog-color-p);
}

.img-app-blog {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: var(--main-border);
  position: relative;
}

.list-blog li {
  display: flex;
  gap: 10px;
}

.blog-details img {
  width: 100%;
  border-radius: 5px;
  margin: 5px 0;
  height: 100%;
  object-fit: contain;
}

.blog-details p {
  font-size: 1rem;
  margin: 5px 0;
  line-height: 30px;
}

.img-app-blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-page {
  background-color: var(--card-color);
  padding: 10px 20px;
  border-radius: var(--main-border);
}

.details-app {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  position: relative;
  gap: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.data-app {
  background: var(--card2-color);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.title-detail-icon {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 45%;
  border-left: 1px solid #3f366c;
  margin-left: 10px;
}

.data-app .data-title {
  width: 55%;
}

.language-app-div p,
.size-app p,
.download-app-much p {
  text-transform: uppercase !important;
}

.details-app h4,
.version-details h4 {
  font-size: 14px !important;
  margin: initial !important;
  border-bottom: initial !important;
  padding-bottom: initial !important;
  width: initial !important;
}

.blog-page p {
  color: var(--blog-color-p);
  line-height: 30px;
  color: #cacae2;
}

.blog-page .margin-text-blog,
.blog-details h1,
.blog-details h2,
.blog-details h3,
.blog-details h4,
.blog-details h5,
.blog-details h6 {
  line-height: 35px;
  font-weight: 400;

}

.blog-page li {
  color: var(--blog-color-p);
  display: flex;
  align-items: center;
  gap: 10px;
}

.blog-details li {
  font-size: 21px;
}

.blog-details .counter-increment-ul li {
  counter-increment: rascocounter;
  padding-left: 40px;
  position: relative;
  margin-top: 6px;
  border-bottom: 1px solid var(--card2-color);
  margin-bottom: 12px;
  padding-bottom: 15px;
}

.counter-increment-ul li::after {
  content: counter(rascocounter);
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  top: 15px;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  color: var(--background-2-color);
  font-weight: 500;
}

/* <!-- ============================ Share Button ============================ --> */

.share-icon-div {
  padding: 10px;
  background-color: var(--Dark2-color);
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.share-icon-div.active {
  background-color: var(--main-color);
}

.share-icon-div:active {
  transform: scale(0.9);
}

.copy-done.active {
  opacity: 1;
}

.share-icon-div img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

/* <!-- ============================ Share The Blog Page ============================ --> */

.share-the-blog-page {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  width: 520px;
  flex-direction: column;
}

@media (max-width: 560px) {
  .share-the-blog-page {
    width: 100%;
  }
}

.share-the-blog-page ul {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 0;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.share-the-blog-page ul a {
  color: #fff;
  font-size: 16px;
  background-color: var(--Dark-color);
  border-radius: var(--main-border);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  border: 0;
  position: relative;
}

.share-the-blog-page ul a:hover {
  color: var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
  text-shadow: 0 0 5px var(--main-color);
}

.share-the-blog-page ul a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--main-color);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.share-the-blog-page ul a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 60px var(--main-color);
}

.share-the-blog-page ul a img {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  z-index: 11;
}

.share-the-blog-page ul a:hover img {
  filter: invert(62%) sepia(91%) saturate(613%) hue-rotate(1deg) brightness(103%) contrast(104%);
}

.p-share {
  display: flex;
  align-items: center;
  gap: 5px;
}



/* <!-- ============================ Share The Blog Page ============================ --> */

.copy-done {
  position: absolute;
  z-index: 1111111;
  left: 0;
  width: max-content;
  bottom: -62px;
  padding: 10px;

  background: var(--main-color);
  border-radius: 5px;
  color: white !important;
  cursor: auto;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.copy-done::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 14px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--main-color);
}

.copy-done p {
  color: var(--wight-color) !important;
}

/* <!-- ============================ Data Category ============================ --> */

.data-category-personHowoPost ul {
  display: flex;
  gap: 15px;
  align-items: center;
  /* margin: 5px 0; */
  /* margin-bottom: 10px; */
  /* border-bottom: 1px solid var(--Dark2-color); */
  /* padding-bottom: 15px; */
}

.img-blog {
  overflow: hidden;
  border-radius: var(--main-border);
  width: 100%;
  position: relative;
}

.img-blog::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 0%,
      rgb(33 28 61 / 97%) 74%);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.img-blog h1 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}

.img-blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* <!-- ============================  Margin Text Blog ============================ --> */

.margin-text-blog {
  margin: 20px 0 !important;
  line-height: 41px !important;
}

/* <!-- ============================  Version App Icon Svg ============================ --> */

.version-app-icon-svg {
  filter: invert(14%) sepia(91%) saturate(5190%) hue-rotate(269deg) brightness(81%) contrast(126%);
  height: 30px;
  width: 30px;
  filter: invert(1);
}

/* <!-- ============================  Blog App ============================ --> */
.div-img-blog-parent {
  position: relative;
}

.div-img-blog {
  width: 100%;
  height: 300px !important;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
}


.div-img-blog-parent .profile-div h2 {
  font-size: 20px !important;
}

.name-profile-about h2 {
  font-size: 20px !important;
}

.div-img-blog .background-app-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h1-blog {
  display: flex;
  border-bottom: 6px solid var(--main-color);
  padding-bottom: 36px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.h1-blog::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -10px;
  transform: rotate(45deg);
}

.h1-blog::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  position: absolute;
  right: 0;
  bottom: -10px;
  transform: rotate(45deg);
}


/* ----------------------- */
.blog-main-page .blog-details {
  margin-top: 0 !important;
}

/* ========================  */
@media (max-width: 500px) {
  .blog-page h1 {
    font-size: 23px;
    line-height: 35px;
  }

  .blog-details h2 {
    font-size: 21px;
  }

  .blog-details h3 {
    font-size: 20px;
  }
}

/* <!-- ============================ ul-list-line ============================ --> */
.ul-list-line {
  margin-bottom: 10px;
  border-left: 1px solid var(--main-color);
  padding-left: 16px;
  border-left-style: dashed;
}

.ul-list-line li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ul-list-line li h2 {
  position: relative;
}

.ul-list-line li h2::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: var(--main-color);
  position: absolute;
  left: -30px;
  top: 15px;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  color: var(--background-2-color);
  border-radius: 50%;
}

.ul-list-line li h2::before {
  content: "";
  width: 17px;
  height: 17px;
  background-color: var(--main-color);
  position: absolute;
  left: -35px;
  top: 15px;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  color: var(--background-2-color);
  border-radius: 50%;
  opacity: 0.5;
  transform-origin: center;
}

/* <!-- ============================ Catalogue ============================ --> */

.catalogue-parent {
  padding: 10px;
  background: var(--card-color);
  border-radius: 5px;
}

.catalogue-div {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.catalogue-end-of-article {
  justify-content: center;
  margin: 10px 0;
}

.catalogue-div a {
  padding: 5px 10px;
  background-color: var(--Dark2-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.catalogue-div a:hover {
  opacity: 0.8;
}

.catalogue-div img {
  width: 15px;
  height: 15px;
}

/* <!-- ============================  code-text ============================ --> */

.code-text-block {
  background-color: #222631;
  padding: 20px;
  margin: 10px 0;
  display: block;
  text-align: end;
  font-size: 20px;
  width: 100%;
}


/* <!-- ============================  words page ============================ --> */
.words-page-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}




/* <!-- ============================  @media ============================ --> */

@media (max-width: 900px) {
  .comment-box {
    width: 80% !important;
  }

  .comment-box .comment-head span {
    font-size: 11px;
  }

  .comment-box .comment-content {
    padding: 12px;
    font-size: 12px;
    line-height: 34px;
  }

  .comment-box .comment-name {
    font-size: 12px;
    margin: 0 5px;
  }
}

@media (max-width: 500px) {
  .another-blog-h2-img h2 {
    line-height: 28px;
    font-size: 17px !important;
  }

  .icon-another-blog {
    display: none;
  }
}

@media (max-width: 600px) {
  .li-ca-list-head {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .div-img-blog {
    height: 180px !important;
  }

  .div-img-blog-parent .profile-div .name-profile-about h2 {
    font-size: 1rem;
  }

  .profile-div .social-media {
    gap: 3px;
  }

  .blog-page h1 {
    font-size: 1.7rem;
    line-height: 30px;
    font-weight: 400;
  }

  .blog-details h2 {
    font-size: 1.3rem !important;
    font-weight: 400;
  }
}